In [1]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import re
import time

# Add Matplotlib inline magic command
%matplotlib inline

In [2]:
# Reading in all CSVs as DataFrames
fire_df = pd.read_csv("fire_copy.csv")
housing_df = pd.read_csv("housing.csv")
electricity_df = pd.read_csv("electricity.csv")
environment_df = pd.read_csv("environment_data_june24.csv")

# Cleaning up Fire Data Set

In [3]:
# Taking a look at fire_df
fire_df.sample(n=5)

,Unnamed: 0,AcresBurned,ArchiveYear,CalFireIncident,Counties,CountyIds,Latitude,Longitude,MajorIncident,Name,PersonnelInvolved,Started
1261,1261,45.0,2018,False,Marin,21,38.071350,-122.767510,False,Bridge Fire,NaN,1969-12-31T16:00:00Z
440,440,7609.0,2016,True,San Diego,37,32.607290,-116.630280,True,Border Fire,78.0,2016-06-19T11:03:00Z
1396,1396,77758.0,2019,True,Sonoma,49,38.792458,-122.780053,True,Kincade Fire,55.0,2019-10-23T21:27:00Z
5,5,22992.0,2013,False,Fresno,10,37.279000,-119.318000,False,Aspen Fire,NaN,2013-07-22T22:15:00Z
348,348,150.0,2015,True,Riverside,33,0.000000,0.000000,False,Merwin Fire,NaN,2015-07-01T20:38:00Z

In [4]:
# Modify column names in fire_df
fire_df_new_columns = ["Unnamed: 0", "Acres Burned", "Year", "Cal Fire Incident", "County", "County IDs", "Latitude", "Longitude", 
                       "Major Incident", "Name", "Personnel Involved", "Started"]

fire_df.columns = fire_df_new_columns
fire_df.head()

,Unnamed: 0,Acres Burned,Year,Cal Fire Incident,County,County IDs,Latitude,Longitude,Major Incident,Name,Personnel Involved,Started
0,0,257314.0,2013,True,Tuolumne,55,37.857000,-120.086000,False,Rim Fire,NaN,2013-08-17T15:25:00Z
1,1,30274.0,2013,True,Los Angeles,19,34.585595,-118.423176,False,Powerhouse Fire,NaN,2013-05-30T15:28:00Z
2,2,27531.0,2013,True,Riverside,33,33.709500,-116.728850,False,Mountain Fire,NaN,2013-07-15T13:43:00Z
3,3,27440.0,2013,False,Placer,31,39.120000,-120.650000,False,American Fire,NaN,2013-08-10T16:30:00Z
4,4,24251.0,2013,True,Ventura,56,0.000000,0.000000,True,Springs Fire,2167.0,2013-05-02T07:01:00Z

In [5]:
# Fill 0's instead of NaN in the rows of Acres Burned column
fire_df["Acres Burned"] = fire_df["Acres Burned"].fillna(0)

In [6]:
# Format Latitude and Longitude columns in fire_df
fire_df["Latitude"] = fire_df["Latitude"].map("{:.2f}".format)
fire_df["Longitude"] = fire_df["Longitude"].map("{:.2f}".format)
fire_df.head()

,Unnamed: 0,Acres Burned,Year,Cal Fire Incident,County,County IDs,Latitude,Longitude,Major Incident,Name,Personnel Involved,Started
0,0,257314.0,2013,True,Tuolumne,55,37.86,-120.09,False,Rim Fire,NaN,2013-08-17T15:25:00Z
1,1,30274.0,2013,True,Los Angeles,19,34.59,-118.42,False,Powerhouse Fire,NaN,2013-05-30T15:28:00Z
2,2,27531.0,2013,True,Riverside,33,33.71,-116.73,False,Mountain Fire,NaN,2013-07-15T13:43:00Z
3,3,27440.0,2013,False,Placer,31,39.12,-120.65,False,American Fire,NaN,2013-08-10T16:30:00Z
4,4,24251.0,2013,True,Ventura,56,0.00,0.00,True,Springs Fire,2167.0,2013-05-02T07:01:00Z

In [7]:
# Convert "Latitude" and "Longitude" into floats, "County IDs" and "Acres Burned" into int
fire_df["Latitude"] = fire_df["Latitude"].astype(float)
fire_df["Longitude"] = fire_df["Longitude"].astype(float)
fire_df["County IDs"] = fire_df["County IDs"].astype(int)
fire_df["Acres Burned"] = fire_df["Acres Burned"].astype(int)
fire_df["Cal Fire Incident"] = fire_df["Cal Fire Incident"].astype(str)
fire_df["Major Incident"] = fire_df["Major Incident"].astype(str)

In [8]:
# Modify "Started" column in fire_df from object to datetime
fire_df["Started"] = pd.to_datetime(fire_df["Started"], infer_datetime_format=True)
fire_df.head()

,Unnamed: 0,Acres Burned,Year,Cal Fire Incident,County,County IDs,Latitude,Longitude,Major Incident,Name,Personnel Involved,Started
0,0,257314,2013,True,Tuolumne,55,37.86,-120.09,False,Rim Fire,NaN,2013-08-17 15:25:00+00:00
1,1,30274,2013,True,Los Angeles,19,34.59,-118.42,False,Powerhouse Fire,NaN,2013-05-30 15:28:00+00:00
2,2,27531,2013,True,Riverside,33,33.71,-116.73,False,Mountain Fire,NaN,2013-07-15 13:43:00+00:00
3,3,27440,2013,False,Placer,31,39.12,-120.65,False,American Fire,NaN,2013-08-10 16:30:00+00:00
4,4,24251,2013,True,Ventura,56,0.00,0.00,True,Springs Fire,2167.0,2013-05-02 07:01:00+00:00

### Since "Started" and "Archive Year" have the same years, should we get rid of 'Archive Year'
### since it's redundant and may overfit the model? Plus it can't be converted into datetime? --> Actually keep Archive Year so it's easier to group with other datasets that just have the year

In [9]:
# Drop "Unnamed: 0" and "Personnel Involved" columns from fire_df
fire_df.drop(["Unnamed: 0", "Personnel Involved"], axis=1, inplace=True)

In [10]:
# Check data types to see if they have been properly updated
fire_df.dtypes

Acres Burned                       int64
Year                               int64
Cal Fire Incident                 object
County                            object
County IDs                         int64
Latitude                         float64
Longitude                        float64
Major Incident                    object
Name                              object
Started              datetime64[ns, UTC]
dtype: object

In [11]:
# Reorder fire_df columns
fire_df = fire_df[["Name", "County", "County IDs", "Latitude", "Longitude", "Started",
                  "Year", "Acres Burned", "Cal Fire Incident", "Major Incident"]]
fire_df.head()

,Name,County,County IDs,Latitude,Longitude,Started,Year,Acres Burned,Cal Fire Incident,Major Incident
0,Rim Fire,Tuolumne,55,37.86,-120.09,2013-08-17 15:25:00+00:00,2013,257314,True,False
1,Powerhouse Fire,Los Angeles,19,34.59,-118.42,2013-05-30 15:28:00+00:00,2013,30274,True,False
2,Mountain Fire,Riverside,33,33.71,-116.73,2013-07-15 13:43:00+00:00,2013,27531,True,False
3,American Fire,Placer,31,39.12,-120.65,2013-08-10 16:30:00+00:00,2013,27440,False,False
4,Springs Fire,Ventura,56,0.00,0.00,2013-05-02 07:01:00+00:00,2013,24251,True,True

# ---------------------------------------------------------------------

# Cleaning up Housing Data Set

In [12]:
# Taking a look at housing_df
housing_df.sample(n=5)

,Unnamed: 0,longitude,latitude,population,households,median_income,median_house_value,ocean_proximity,County
9506,9506,-117.94,34.05,2603.0,624.0,3.55585,162350.0,<1H OCEAN,Los Angeles County
1121,1121,-122.33,40.52,1318.0,454.0,3.50810,116700.0,INLAND,Shasta County
7117,7117,-118.51,34.43,3733.0,1233.0,6.10820,253700.0,<1H OCEAN,Los Angeles County
1994,1994,-122.07,37.88,590.0,264.0,3.55360,387200.0,NEAR BAY,Contra Costa County
7608,7608,-118.37,33.98,131.0,73.0,4.34380,331800.0,<1H OCEAN,Los Angeles County

In [13]:
# Modify column names in housing_df
housing_df_new_columns = ["Unnamed: 0", "Longitude", "Latitude", "Population", "Households", 
                          "Average Income", "Average House Value", "Ocean Proximity", "County"]

housing_df.columns = housing_df_new_columns
housing_df.head()

,Unnamed: 0,Longitude,Latitude,Population,Households,Average Income,Average House Value,Ocean Proximity,County
0,0,-124.35,40.54,806.0,270.0,3.0147,94600.0,NEAR OCEAN,Humboldt County
1,1,-124.30,41.80,1298.0,478.0,1.9797,85800.0,NEAR OCEAN,Del Norte County
2,2,-124.30,41.84,1244.0,456.0,3.0313,103600.0,NEAR OCEAN,Del Norte County
3,3,-124.27,40.69,1194.0,465.0,2.5179,79000.0,NEAR OCEAN,Humboldt County
4,4,-124.26,40.58,907.0,369.0,2.3571,111400.0,NEAR OCEAN,Humboldt County

In [14]:
# Split the word "County" from every row in "County" column
housing_df["County"] = housing_df["County"].str.split("County", n=1, expand=True)

In [15]:
# Check to see if it worked
housing_df["County"]

0              Humboldt
1             Del Norte
2             Del Norte
3              Humboldt
4              Humboldt
              ...
12585         Riverside
12586          Imperial
12587            La Paz
12588    San Bernardino
12589    San Bernardino
Name: County, Length: 12590, dtype: object

In [16]:
# Check to see if housing_df has newly updated "County" column
housing_df.head()

,Unnamed: 0,Longitude,Latitude,Population,Households,Average Income,Average House Value,Ocean Proximity,County
0,0,-124.35,40.54,806.0,270.0,3.0147,94600.0,NEAR OCEAN,Humboldt
1,1,-124.30,41.80,1298.0,478.0,1.9797,85800.0,NEAR OCEAN,Del Norte
2,2,-124.30,41.84,1244.0,456.0,3.0313,103600.0,NEAR OCEAN,Del Norte
3,3,-124.27,40.69,1194.0,465.0,2.5179,79000.0,NEAR OCEAN,Humboldt
4,4,-124.26,40.58,907.0,369.0,2.3571,111400.0,NEAR OCEAN,Humboldt

In [17]:
# Adjusting "Average Income" column so that each value is multipled by 10,000
housing_df["Average Income"] = housing_df["Average Income"].multiply(other=10**4)
housing_df.head()

,Unnamed: 0,Longitude,Latitude,Population,Households,Average Income,Average House Value,Ocean Proximity,County
0,0,-124.35,40.54,806.0,270.0,30147.0,94600.0,NEAR OCEAN,Humboldt
1,1,-124.30,41.80,1298.0,478.0,19797.0,85800.0,NEAR OCEAN,Del Norte
2,2,-124.30,41.84,1244.0,456.0,30313.0,103600.0,NEAR OCEAN,Del Norte
3,3,-124.27,40.69,1194.0,465.0,25179.0,79000.0,NEAR OCEAN,Humboldt
4,4,-124.26,40.58,907.0,369.0,23571.0,111400.0,NEAR OCEAN,Humboldt

In [18]:
# Format Population, Households, Average Income, and Average House Value columns in housing_df
housing_df["Population"] = housing_df["Population"].map("{:.0f}".format)
housing_df["Households"] = housing_df["Households"].map("{:.0f}".format)
housing_df["Average Income"] = housing_df["Average Income"].map("{:.0f}".format)
housing_df["Average House Value"] = housing_df["Average House Value"].map("{:.0f}".format)
housing_df.head()

,Unnamed: 0,Longitude,Latitude,Population,Households,Average Income,Average House Value,Ocean Proximity,County
0,0,-124.35,40.54,806,270,30147,94600,NEAR OCEAN,Humboldt
1,1,-124.30,41.80,1298,478,19797,85800,NEAR OCEAN,Del Norte
2,2,-124.30,41.84,1244,456,30313,103600,NEAR OCEAN,Del Norte
3,3,-124.27,40.69,1194,465,25179,79000,NEAR OCEAN,Humboldt
4,4,-124.26,40.58,907,369,23571,111400,NEAR OCEAN,Humboldt

In [19]:
# Change Population, Households, Average Income, and Average House Value to integers
housing_df["Population"] = housing_df["Population"].astype(int)
housing_df["Households"] = housing_df["Households"].astype(int)
housing_df["Average Income"] = housing_df["Average Income"].astype(int)
housing_df["Average House Value"] = housing_df["Average House Value"].astype(int)

In [20]:
# Drop "Unnamed: 0" column from housing_df
housing_df.drop("Unnamed: 0", axis=1, inplace=True)

In [21]:
# Check housing_df data types to see if they were successfully converted
housing_df.dtypes

Longitude              float64
Latitude               float64
Population               int64
Households               int64
Average Income           int64
Average House Value      int64
Ocean Proximity         object
County                  object
dtype: object

In [22]:
# Reorder housing_df columns
housing_df = housing_df[["County", "Latitude", "Longitude", "Ocean Proximity", "Population", 
               "Households", "Average Income", "Average House Value"]]

housing_df.head()

,County,Latitude,Longitude,Ocean Proximity,Population,Households,Average Income,Average House Value
0,Humboldt,40.54,-124.35,NEAR OCEAN,806,270,30147,94600
1,Del Norte,41.80,-124.30,NEAR OCEAN,1298,478,19797,85800
2,Del Norte,41.84,-124.30,NEAR OCEAN,1244,456,30313,103600
3,Humboldt,40.69,-124.27,NEAR OCEAN,1194,465,25179,79000
4,Humboldt,40.58,-124.26,NEAR OCEAN,907,369,23571,111400

In [23]:
# Take away white space from right side of County names
housing_df["County"] = housing_df["County"].str.rstrip()

housing_df["County"].unique().tolist()

['Humboldt',
 'Del Norte',
 nan,
 'Mendocino',
 'Trinity',
 'Sonoma',
 'Siskiyou',
 'Lake',
 'Marin',
 'Shasta',
 'Glenn',
 'Tehama',
 'Napa',
 'San Mateo',
 'San Francisco',
 'Colusa',
 'Contra Costa',
 'Alameda',
 'Solano',
 'Santa Cruz',
 'Yolo',
 'Santa Clara',
 'Butte',
 'Monterey',
 'Sutter',
 'Sacramento',
 'San Benito',
 'Yuba',
 'San Joaquin',
 'Placer',
 'Stanislaus',
 'Nevada',
 'Plumas',
 'Modoc',
 'San Luis Obispo',
 'Lassen',
 'El Dorado',
 'Merced',
 'Amador',
 'Sierra',
 'Calaveras',
 'Fresno',
 'Santa Barbara',
 'Tuolumne',
 'Madera',
 'Mariposa',
 'Kings',
 'Alpine',
 'Douglas',
 'Kern',
 'Tulare',
 'Mono',
 'Ventura',
 'Los Angeles',
 'Inyo',
 'Orange',
 'San Bernardino',
 'Riverside',
 'San Diego',
 'Imperial',
 'La Paz']

In [24]:
# Check housing_df
housing_df.head()

,County,Latitude,Longitude,Ocean Proximity,Population,Households,Average Income,Average House Value
0,Humboldt,40.54,-124.35,NEAR OCEAN,806,270,30147,94600
1,Del Norte,41.80,-124.30,NEAR OCEAN,1298,478,19797,85800
2,Del Norte,41.84,-124.30,NEAR OCEAN,1244,456,30313,103600
3,Humboldt,40.69,-124.27,NEAR OCEAN,1194,465,25179,79000
4,Humboldt,40.58,-124.26,NEAR OCEAN,907,369,23571,111400

# ---------------------------------------------------------------------

# Cleaning up Electricity Data Set

In [25]:
# Taking a look at electricity_df
electricity_df.sample(n=5)

,Unnamed: 0,County,2019,2018,2017,2016,2015,2014,2013
49,149,STANISLAUS,4750.062635,4805.516459,4865.514147,4751.299871,4751.572054,4744.005295,4670.939129
45,137,SIERRA,21.994344,21.069957,21.874618,25.917940,24.122493,23.672012,23.526807
18,56,LOS ANGELES,66118.673005,67907.482625,68656.720182,69414.044656,69532.293389,69953.419146,68373.298413
25,77,MONO,205.216773,196.881816,199.437613,189.668008,188.889861,191.584456,204.417686
47,143,SOLANO,3226.597752,3267.953082,3217.177908,3211.443142,3209.299202,3216.075906,3228.341275

In [26]:
# Check electricity_df data types
electricity_df.dtypes

Unnamed: 0      int64
County         object
2019          float64
2018          float64
2017          float64
2016          float64
2015          float64
2014          float64
2013          float64
dtype: object

In [27]:
# Convert all rows in County Column from uppercase to normal writing
electricity_df["County"] = electricity_df["County"].str.title()
electricity_df["County"]

0             Alameda
1              Alpine
2              Amador
3               Butte
4           Calaveras
5              Colusa
6        Contra Costa
7           Del Norte
8           El Dorado
9              Fresno
10              Glenn
11           Humboldt
12           Imperial
13               Inyo
14               Kern
15              Kings
16               Lake
17             Lassen
18        Los Angeles
19             Madera
20              Marin
21           Mariposa
22          Mendocino
23             Merced
24              Modoc
25               Mono
26           Monterey
27               Napa
28             Nevada
29             Orange
30             Placer
31             Plumas
32          Riverside
33         Sacramento
34         San Benito
35     San Bernardino
36          San Diego
37      San Francisco
38        San Joaquin
39    San Luis Obispo
40          San Mateo
41      Santa Barbara
42        Santa Clara
43         Santa Cruz
44             Shasta
45             Sierra
46           Siskiyou
47             Solano
48             Sonoma
49         Stanislaus
50             Sutter
51             Tehama
52            Trinity
53             Tulare
54           Tuolumne
55            Ventura
56               Yolo
57               Yuba
Name: County, dtype: object

In [28]:
# Check to see if all the counties are now in normal writing in County column
electricity_df.head()

,Unnamed: 0,County,2019,2018,2017,2016,2015,2014,2013
0,2,Alameda,10684.085867,10391.361826,11079.450563,10791.224841,10235.384987,10299.877787,10618.661255
1,5,Alpine,18.906214,18.704208,18.976912,17.415654,16.209900,15.983364,18.176468
2,8,Amador,317.885054,304.092677,313.312866,309.094100,285.308438,289.501492,310.344276
3,11,Butte,1396.246344,1475.788821,1529.818607,1482.073760,1492.098630,1489.484147,1502.980505
4,14,Calaveras,330.559070,332.353511,347.931437,316.143601,311.620104,319.671411,326.656878

In [29]:
# Format the numbers in all the year columns in electricity_df
electricity_df["2019"] = electricity_df["2019"].map("{:.2f}".format)
electricity_df["2018"] = electricity_df["2018"].map("{:.2f}".format)
electricity_df["2017"] = electricity_df["2017"].map("{:.2f}".format)
electricity_df["2016"] = electricity_df["2016"].map("{:.2f}".format)
electricity_df["2015"] = electricity_df["2015"].map("{:.2f}".format)
electricity_df["2014"] = electricity_df["2014"].map("{:.2f}".format)
electricity_df["2013"] = electricity_df["2013"].map("{:.2f}".format)

In [30]:
# Convert all the years back into integers in electricity_df
electricity_df["2019"] = electricity_df["2019"].astype(float)
electricity_df["2018"] = electricity_df["2018"].astype(float)
electricity_df["2017"] = electricity_df["2017"].astype(float)
electricity_df["2016"] = electricity_df["2016"].astype(float)
electricity_df["2015"] = electricity_df["2015"].astype(float)
electricity_df["2014"] = electricity_df["2014"].astype(float)
electricity_df["2013"] = electricity_df["2013"].astype(float)

In [31]:
# Check to see if columns were successfully converted to floats in electricity_df
electricity_df.dtypes

Unnamed: 0      int64
County         object
2019          float64
2018          float64
2017          float64
2016          float64
2015          float64
2014          float64
2013          float64
dtype: object

In [32]:
# Drop "Unnamed: 0" column from electricity_df
electricity_df.drop("Unnamed: 0", axis=1, inplace=True)

In [33]:
# Reorder columns in electricity_df 
electricity_df = electricity_df[["County", "2013", "2014", "2015", "2016", "2017", "2018", "2019"]]
electricity_df.head()

,County,2013,2014,2015,2016,2017,2018,2019
0,Alameda,10618.66,10299.88,10235.38,10791.22,11079.45,10391.36,10684.09
1,Alpine,18.18,15.98,16.21,17.42,18.98,18.70,18.91
2,Amador,310.34,289.50,285.31,309.09,313.31,304.09,317.89
3,Butte,1502.98,1489.48,1492.10,1482.07,1529.82,1475.79,1396.25
4,Calaveras,326.66,319.67,311.62,316.14,347.93,332.35,330.56

In [34]:
# Make Years into a column
electricity_df = electricity_df.melt(id_vars="County", var_name="Year", value_name="MWh")
electricity_df

        County  Year       MWh
0      Alameda  2013  10618.66
1       Alpine  2013     18.18
2       Amador  2013    310.34
3        Butte  2013   1502.98
4    Calaveras  2013    326.66
..         ...   ...       ...
401     Tulare  2019   4162.20
402   Tuolumne  2019    452.64
403    Ventura  2019   5344.04
404       Yolo  2019   1720.75
405       Yuba  2019    511.73

[406 rows x 3 columns]

In [35]:
# Convert Year column to integer
electricity_df["Year"] = electricity_df["Year"].astype(int)

In [36]:
electricity_df.dtypes

County     object
Year        int64
MWh       float64
dtype: object

In [37]:
# # Add MWh to each of the column names since values are in millions of kWh
# electricity_df_new_columns = ["County", "2013 (MWh)", "2014 (MWh)", "2015 (MWh)",
#                              "2016 (MWh)", "2017 (MWh)", "2018 (MWh)", "2019 (MWh)"]
# electricity_df.columns = electricity_df_new_columns
# electricity_df.head()

# ---------------------------------------------------------------------

# Cleaning up Environment Data Set

In [38]:
# Taking a look at environment_df
environment_df.sample(n=5)

,Unnamed: 0,County,Year,ETo (in),Precip (in),Sol Rad (Ly/day),Avg Vap Pres (mBars),Max Air Temp (F),Min Air Temp (F),Avg Air Temp (F),Max Rel Hum (%),Min Rel Hum (%),Avg Rel Hum (%),Dew Point (F),Avg Wind Speed (mph),Wind Run (miles),Avg Soil Temp (F)
25,25,Imperial,2018,348.36,6.63,475.174425,12.658160,119.0,21.0,72.840830,100.0,0.0,43.817162,47.960572,4.658553,111.809703,68.991195
57,57,Napa,2020,80.94,8.57,492.448343,12.416959,103.8,27.6,58.697661,100.0,9.0,73.116959,49.386355,3.534503,84.834698,61.247368
112,112,Sutter,2018,53.42,16.45,435.134615,11.722253,107.1,25.2,60.094231,98.0,11.0,64.873626,47.528022,4.437912,106.476923,61.663187
119,119,Tulare,2019,163.58,36.79,459.729831,11.377767,107.3,23.2,62.348968,100.0,1.0,59.575985,46.837523,3.119043,74.858818,66.499343
126,126,Yolo,2020,93.16,7.80,484.657692,11.652308,107.6,31.5,64.029808,100.0,0.0,57.796154,47.538654,5.125962,122.995385,63.669423

In [39]:
# Drop "Unnamed: 0" column from environment_df
environment_df.drop("Unnamed: 0", axis=1, inplace=True)

In [40]:
# Format numbers in environment_df
environment_df["Sol Rad (Ly/day)"] = environment_df["Sol Rad (Ly/day)"].map("{:.0f}".format)
environment_df["Avg Vap Pres (mBars)"] = environment_df["Avg Vap Pres (mBars)"].map("{:.1f}".format)
environment_df["Avg Air Temp (F)"] = environment_df["Avg Air Temp (F)"].map("{:.1f}".format)
environment_df["Max Rel Hum (%)"] = environment_df["Max Rel Hum (%)"].map("{:.0f}".format)
environment_df["Min Rel Hum (%)"] = environment_df["Min Rel Hum (%)"].map("{:.0f}".format)
environment_df["Avg Rel Hum (%)"] = environment_df["Avg Rel Hum (%)"].map("{:.0f}".format)
environment_df["Dew Point (F)"] = environment_df["Dew Point (F)"].map("{:.1f}".format)
environment_df["Avg Wind Speed (mph)"] = environment_df["Avg Wind Speed (mph)"].map("{:.1f}".format)
environment_df["Wind Run (miles)"] = environment_df["Wind Run (miles)"].map("{:.1f}".format)
environment_df["Avg Soil Temp (F)"] = environment_df["Avg Soil Temp (F)"].map("{:.1f}".format)

environment_df.head()

,County,Year,ETo (in),Precip (in),Sol Rad (Ly/day),Avg Vap Pres (mBars),Max Air Temp (F),Min Air Temp (F),Avg Air Temp (F),Max Rel Hum (%),Min Rel Hum (%),Avg Rel Hum (%),Dew Point (F),Avg Wind Speed (mph),Wind Run (miles),Avg Soil Temp (F)
0,Alameda,2018,132.60,40.31,438,11.5,99.3,19.9,57.5,100,9,70,47.3,4.0,94.8,61.8
1,Alameda,2019,141.87,57.87,430,11.8,101.6,26.8,57.9,100,9,71,48.0,4.0,95.6,60.7
2,Alameda,2020,116.04,24.83,494,12.0,108.8,28.3,59.1,100,8,69,48.5,4.1,99.2,62.5
3,Alpine,2019,33.83,5.56,461,5.8,92.0,4.6,50.4,99,9,46,28.6,7.1,170.2,51.3
4,Alpine,2020,47.24,7.60,494,5.7,95.5,2.6,51.3,99,7,44,28.7,7.6,183.1,50.8

### Should Wind Run (miles) be cumulative like it is now (all the miles of wind run added up for each year for each county) or average? Asking because it's a huge number.

In [41]:
# Convert data types back into floats for formatted columns
environment_df["Sol Rad (Ly/day)"] = environment_df["Sol Rad (Ly/day)"].astype(float)
environment_df["Avg Vap Pres (mBars)"] = environment_df["Avg Vap Pres (mBars)"].astype(float)
environment_df["Avg Air Temp (F)"] = environment_df["Avg Air Temp (F)"].astype(float)
environment_df["Max Rel Hum (%)"] = environment_df["Max Rel Hum (%)"].astype(float)
environment_df["Min Rel Hum (%)"] = environment_df["Min Rel Hum (%)"].astype(float)
environment_df["Avg Rel Hum (%)"] = environment_df["Avg Rel Hum (%)"].astype(float)
environment_df["Dew Point (F)"] = environment_df["Dew Point (F)"].astype(float)
environment_df["Avg Wind Speed (mph)"] = environment_df["Avg Wind Speed (mph)"].astype(float)
environment_df["Wind Run (miles)"] = environment_df["Wind Run (miles)"].astype(float)
environment_df["Avg Soil Temp (F)"] = environment_df["Avg Soil Temp (F)"].astype(float)

In [42]:
# Check environment_df data types
environment_df.dtypes

County                   object
Year                      int64
ETo (in)                float64
Precip (in)             float64
Sol Rad (Ly/day)        float64
Avg Vap Pres (mBars)    float64
Max Air Temp (F)        float64
Min Air Temp (F)        float64
Avg Air Temp (F)        float64
Max Rel Hum (%)         float64
Min Rel Hum (%)         float64
Avg Rel Hum (%)         float64
Dew Point (F)           float64
Avg Wind Speed (mph)    float64
Wind Run (miles)        float64
Avg Soil Temp (F)       float64
dtype: object

In [43]:
# Check out environment_df
environment_df

,County,Year,ETo (in),Precip (in),Sol Rad (Ly/day),Avg Vap Pres (mBars),Max Air Temp (F),Min Air Temp (F),Avg Air Temp (F),Max Rel Hum (%),Min Rel Hum (%),Avg Rel Hum (%),Dew Point (F),Avg Wind Speed (mph),Wind Run (miles),Avg Soil Temp (F)
0,Alameda,2018,132.60,40.31,438.0,11.5,99.3,19.9,57.5,100.0,9.0,70.0,47.3,4.0,94.8,61.8
1,Alameda,2019,141.87,57.87,430.0,11.8,101.6,26.8,57.9,100.0,9.0,71.0,48.0,4.0,95.6,60.7
2,Alameda,2020,116.04,24.83,494.0,12.0,108.8,28.3,59.1,100.0,8.0,69.0,48.5,4.1,99.2,62.5
3,Alpine,2019,33.83,5.56,461.0,5.8,92.0,4.6,50.4,99.0,9.0,46.0,28.6,7.1,170.2,51.3
4,Alpine,2020,47.24,7.60,494.0,5.7,95.5,2.6,51.3,99.0,7.0,44.0,28.7,7.6,183.1,50.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125,Yolo,2019,103.37,52.17,424.0,11.3,106.7,28.0,61.1,100.0,0.0,62.0,46.5,5.0,121.0,61.0
126,Yolo,2020,93.16,7.80,485.0,11.7,107.6,31.5,64.0,100.0,0.0,58.0,47.5,5.1,123.0,63.7
127,Yuba,2018,53.66,29.46,414.0,10.9,102.6,25.1,63.0,100.0,6.0,57.0,45.5,4.1,98.0,63.5
128,Yuba,2019,50.31,38.85,389.0,10.8,102.8,28.5,62.1,99.0,7.0,57.0,45.2,4.5,107.6,62.5
129,Yuba,2020,43.90,9.42,454.0,10.9,109.2,29.8,65.6,97.0,6.0,52.0,45.9,4.2,100.1,64.3

# ---------------------------------------------------------------------

# Matching all the Data Sets to Have the Same # of Counties

In [44]:
# See number of unique counties in fire_df
len(fire_df["County"].unique())

59

In [45]:
# List all the counties in fire_df to see which Counties are not in CA
fire_df["County"].unique().tolist()

['Tuolumne',
 'Los Angeles',
 'Riverside',
 'Placer',
 'Ventura',
 'Fresno',
 'Siskiyou',
 'Humboldt',
 'Tehama',
 'Shasta',
 'San Diego',
 'Kern',
 'Sonoma',
 'Contra Costa',
 'Butte',
 'Tulare',
 'Santa Barbara',
 'Mariposa',
 'Monterey',
 'El Dorado',
 'San Bernardino',
 'Plumas',
 'Modoc',
 'San Luis Obispo',
 'Madera',
 'Inyo',
 'Napa',
 'San Benito',
 'San Joaquin',
 'Lake',
 'Alameda',
 'Glenn',
 'Yolo',
 'Sacramento',
 'Stanislaus',
 'Solano',
 'Merced',
 'Mendocino',
 'Lassen',
 'Amador',
 'Yuba',
 'Nevada',
 'Santa Clara',
 'Calaveras',
 'San Mateo',
 'Orange',
 'Colusa',
 'Trinity',
 'Del Norte',
 'Mono',
 'Alpine',
 'Sutter',
 'Kings',
 'Sierra',
 'Santa Cruz',
 'Marin',
 'Mexico',
 'State of Oregon',
 'State of Nevada']

In [46]:
# Drop rows that have 'Mexico', 'State of Oregon', and 'State of Nevada' in fire_df counties
unwanted_county1_fire_df = fire_df[fire_df["County"] == "Mexico"].index
unwanted_county2_fire_df = fire_df[fire_df["County"] == "State of Oregon"].index
unwanted_county3_fire_df = fire_df[fire_df["County"] == "State of Nevada"].index

fire_df.drop(unwanted_county1_fire_df, inplace=True)
fire_df.drop(unwanted_county2_fire_df, inplace=True)
fire_df.drop(unwanted_county3_fire_df, inplace=True)

fire_df.head()

,Name,County,County IDs,Latitude,Longitude,Started,Year,Acres Burned,Cal Fire Incident,Major Incident
0,Rim Fire,Tuolumne,55,37.86,-120.09,2013-08-17 15:25:00+00:00,2013,257314,True,False
1,Powerhouse Fire,Los Angeles,19,34.59,-118.42,2013-05-30 15:28:00+00:00,2013,30274,True,False
2,Mountain Fire,Riverside,33,33.71,-116.73,2013-07-15 13:43:00+00:00,2013,27531,True,False
3,American Fire,Placer,31,39.12,-120.65,2013-08-10 16:30:00+00:00,2013,27440,False,False
4,Springs Fire,Ventura,56,0.00,0.00,2013-05-02 07:01:00+00:00,2013,24251,True,True

In [47]:
# Double-check to see if rows with data for "Mexico", "State of Oregon", and "State of Nevada" have been dropped
sorted(fire_df["County"].unique())

['Alameda',
 'Alpine',
 'Amador',
 'Butte',
 'Calaveras',
 'Colusa',
 'Contra Costa',
 'Del Norte',
 'El Dorado',
 'Fresno',
 'Glenn',
 'Humboldt',
 'Inyo',
 'Kern',
 'Kings',
 'Lake',
 'Lassen',
 'Los Angeles',
 'Madera',
 'Marin',
 'Mariposa',
 'Mendocino',
 'Merced',
 'Modoc',
 'Mono',
 'Monterey',
 'Napa',
 'Nevada',
 'Orange',
 'Placer',
 'Plumas',
 'Riverside',
 'Sacramento',
 'San Benito',
 'San Bernardino',
 'San Diego',
 'San Joaquin',
 'San Luis Obispo',
 'San Mateo',
 'Santa Barbara',
 'Santa Clara',
 'Santa Cruz',
 'Shasta',
 'Sierra',
 'Siskiyou',
 'Solano',
 'Sonoma',
 'Stanislaus',
 'Sutter',
 'Tehama',
 'Trinity',
 'Tulare',
 'Tuolumne',
 'Ventura',
 'Yolo',
 'Yuba']

In [48]:
# Now check to see the number of unique counties listed in fire_df
len(fire_df["County"].unique())

56

In [49]:
# See number of unique counties in housing_df
len(housing_df["County"].unique())

61

In [50]:
# List all the counties in housing_df to see which Counties are not in CA
housing_df["County"].unique().tolist()

['Humboldt',
 'Del Norte',
 nan,
 'Mendocino',
 'Trinity',
 'Sonoma',
 'Siskiyou',
 'Lake',
 'Marin',
 'Shasta',
 'Glenn',
 'Tehama',
 'Napa',
 'San Mateo',
 'San Francisco',
 'Colusa',
 'Contra Costa',
 'Alameda',
 'Solano',
 'Santa Cruz',
 'Yolo',
 'Santa Clara',
 'Butte',
 'Monterey',
 'Sutter',
 'Sacramento',
 'San Benito',
 'Yuba',
 'San Joaquin',
 'Placer',
 'Stanislaus',
 'Nevada',
 'Plumas',
 'Modoc',
 'San Luis Obispo',
 'Lassen',
 'El Dorado',
 'Merced',
 'Amador',
 'Sierra',
 'Calaveras',
 'Fresno',
 'Santa Barbara',
 'Tuolumne',
 'Madera',
 'Mariposa',
 'Kings',
 'Alpine',
 'Douglas',
 'Kern',
 'Tulare',
 'Mono',
 'Ventura',
 'Los Angeles',
 'Inyo',
 'Orange',
 'San Bernardino',
 'Riverside',
 'San Diego',
 'Imperial',
 'La Paz']

In [51]:
# Check to see if County column in housing_df is the only column with null values
housing_df.isna().sum()

County                 40
Latitude                0
Longitude               0
Ocean Proximity         0
Population              0
Households              0
Average Income          0
Average House Value     0
dtype: int64

In [52]:
# Drop rows that have 'La Paz', 'Douglas', and 'nan' in housing_df counties
unwanted_county1_housing_df = housing_df[housing_df["County"] == "La Paz"].index
unwanted_county2_housing_df = housing_df[housing_df["County"] == "Douglas"].index

housing_df.drop(unwanted_county1_housing_df, inplace=True)
housing_df.drop(unwanted_county2_housing_df, inplace=True)

housing_df = housing_df.dropna()

housing_df.head()

,County,Latitude,Longitude,Ocean Proximity,Population,Households,Average Income,Average House Value
0,Humboldt,40.54,-124.35,NEAR OCEAN,806,270,30147,94600
1,Del Norte,41.80,-124.30,NEAR OCEAN,1298,478,19797,85800
2,Del Norte,41.84,-124.30,NEAR OCEAN,1244,456,30313,103600
3,Humboldt,40.69,-124.27,NEAR OCEAN,1194,465,25179,79000
4,Humboldt,40.58,-124.26,NEAR OCEAN,907,369,23571,111400

In [53]:
# List all the counties in housing_df to see which Counties are not in CA
housing_df["County"].unique().tolist()

['Humboldt',
 'Del Norte',
 'Mendocino',
 'Trinity',
 'Sonoma',
 'Siskiyou',
 'Lake',
 'Marin',
 'Shasta',
 'Glenn',
 'Tehama',
 'Napa',
 'San Mateo',
 'San Francisco',
 'Colusa',
 'Contra Costa',
 'Alameda',
 'Solano',
 'Santa Cruz',
 'Yolo',
 'Santa Clara',
 'Butte',
 'Monterey',
 'Sutter',
 'Sacramento',
 'San Benito',
 'Yuba',
 'San Joaquin',
 'Placer',
 'Stanislaus',
 'Nevada',
 'Plumas',
 'Modoc',
 'San Luis Obispo',
 'Lassen',
 'El Dorado',
 'Merced',
 'Amador',
 'Sierra',
 'Calaveras',
 'Fresno',
 'Santa Barbara',
 'Tuolumne',
 'Madera',
 'Mariposa',
 'Kings',
 'Alpine',
 'Kern',
 'Tulare',
 'Mono',
 'Ventura',
 'Los Angeles',
 'Inyo',
 'Orange',
 'San Bernardino',
 'Riverside',
 'San Diego',
 'Imperial']

In [54]:
# Now check to see the number of unique counties listed in housing_df
len(housing_df["County"].unique())

58

In [55]:
# Create a copy of the housing_df called housing_df2
# In this new DF, drop Imperial and San Francisco county from it for Machine Learning Model
housing_df2 = housing_df.copy()

imperial_housing = housing_df2[housing_df2["County"] == "Imperial"].index
san_francisco_housing = housing_df2[housing_df2["County"] == "San Francisco"].index

housing_df2.drop(imperial_housing, inplace=True)
housing_df2.drop(san_francisco_housing, inplace=True)

housing_df2.head()

,County,Latitude,Longitude,Ocean Proximity,Population,Households,Average Income,Average House Value
0,Humboldt,40.54,-124.35,NEAR OCEAN,806,270,30147,94600
1,Del Norte,41.80,-124.30,NEAR OCEAN,1298,478,19797,85800
2,Del Norte,41.84,-124.30,NEAR OCEAN,1244,456,30313,103600
3,Humboldt,40.69,-124.27,NEAR OCEAN,1194,465,25179,79000
4,Humboldt,40.58,-124.26,NEAR OCEAN,907,369,23571,111400

In [56]:
# Check number of counties in housing_df2
len(housing_df2["County"].unique())

56

In [57]:
# See number of unique counties in electricity_df
len(electricity_df["County"].unique())

58

In [58]:
# Create a copy of the electricity_df called electricity_df2
# In this new DF, drop Imperial and San Francisco county from it for Machine Learning Model
electricity_df2 = electricity_df.copy()

imperial_electricity = electricity_df2[electricity_df2["County"] == "Imperial"].index
san_francisco_electricity = electricity_df2[electricity_df2["County"] == "San Francisco"].index

electricity_df2.drop(imperial_electricity, inplace=True)
electricity_df2.drop(san_francisco_electricity, inplace=True)

electricity_df2.head()

      County  Year       MWh
0    Alameda  2013  10618.66
1     Alpine  2013     18.18
2     Amador  2013    310.34
3      Butte  2013   1502.98
4  Calaveras  2013    326.66

In [59]:
# Check number of counties in electricity_df2
len(electricity_df2["County"].unique())

56

In [60]:
# List all the counties in electricity_df to see if they're CA counties
electricity_df["County"].unique().tolist()

['Alameda',
 'Alpine',
 'Amador',
 'Butte',
 'Calaveras',
 'Colusa',
 'Contra Costa',
 'Del Norte',
 'El Dorado',
 'Fresno',
 'Glenn',
 'Humboldt',
 'Imperial',
 'Inyo',
 'Kern',
 'Kings',
 'Lake',
 'Lassen',
 'Los Angeles',
 'Madera',
 'Marin',
 'Mariposa',
 'Mendocino',
 'Merced',
 'Modoc',
 'Mono',
 'Monterey',
 'Napa',
 'Nevada',
 'Orange',
 'Placer',
 'Plumas',
 'Riverside',
 'Sacramento',
 'San Benito',
 'San Bernardino',
 'San Diego',
 'San Francisco',
 'San Joaquin',
 'San Luis Obispo',
 'San Mateo',
 'Santa Barbara',
 'Santa Clara',
 'Santa Cruz',
 'Shasta',
 'Sierra',
 'Siskiyou',
 'Solano',
 'Sonoma',
 'Stanislaus',
 'Sutter',
 'Tehama',
 'Trinity',
 'Tulare',
 'Tuolumne',
 'Ventura',
 'Yolo',
 'Yuba']

In [61]:
# See number of unique counties in environment_df
len(environment_df["County"].unique())

44

In [62]:
# List all the counties in environment_df to see which Counties are missing
environment_df["County"].unique().tolist()

['Alameda',
 'Alpine',
 'Amador',
 'Butte',
 'Colusa',
 'Contra Costa',
 'El Dorado',
 'Fresno',
 'Humboldt',
 'Imperial',
 'Inyo',
 'Kern',
 'Kings',
 'Los Angeles',
 'Marin',
 'Mendocino',
 'Merced',
 'Modoc',
 'Monterey',
 'Napa',
 'Orange',
 'Placer',
 'Riverside',
 'Sacramento',
 'San Benito',
 'San Bernardino',
 'San Diego',
 'San Joaquin',
 'San Luis Obispo',
 'San Mateo',
 'Santa Barbara',
 'Santa Clara',
 'Santa Cruz',
 'Shasta',
 'Siskiyou',
 'Solano',
 'Sonoma',
 'Stanislaus',
 'Sutter',
 'Tehama',
 'Tulare',
 'Ventura',
 'Yolo',
 'Yuba']

In [63]:
environment_df.head()

,County,Year,ETo (in),Precip (in),Sol Rad (Ly/day),Avg Vap Pres (mBars),Max Air Temp (F),Min Air Temp (F),Avg Air Temp (F),Max Rel Hum (%),Min Rel Hum (%),Avg Rel Hum (%),Dew Point (F),Avg Wind Speed (mph),Wind Run (miles),Avg Soil Temp (F)
0,Alameda,2018,132.60,40.31,438.0,11.5,99.3,19.9,57.5,100.0,9.0,70.0,47.3,4.0,94.8,61.8
1,Alameda,2019,141.87,57.87,430.0,11.8,101.6,26.8,57.9,100.0,9.0,71.0,48.0,4.0,95.6,60.7
2,Alameda,2020,116.04,24.83,494.0,12.0,108.8,28.3,59.1,100.0,8.0,69.0,48.5,4.1,99.2,62.5
3,Alpine,2019,33.83,5.56,461.0,5.8,92.0,4.6,50.4,99.0,9.0,46.0,28.6,7.1,170.2,51.3
4,Alpine,2020,47.24,7.60,494.0,5.7,95.5,2.6,51.3,99.0,7.0,44.0,28.7,7.6,183.1,50.8

In [64]:
fire_df.dtypes

Name                              object
County                            object
County IDs                         int64
Latitude                         float64
Longitude                        float64
Started              datetime64[ns, UTC]
Year                               int64
Acres Burned                       int64
Cal Fire Incident                 object
Major Incident                    object
dtype: object

In [65]:
environment_df.dtypes

County                   object
Year                      int64
ETo (in)                float64
Precip (in)             float64
Sol Rad (Ly/day)        float64
Avg Vap Pres (mBars)    float64
Max Air Temp (F)        float64
Min Air Temp (F)        float64
Avg Air Temp (F)        float64
Max Rel Hum (%)         float64
Min Rel Hum (%)         float64
Avg Rel Hum (%)         float64
Dew Point (F)           float64
Avg Wind Speed (mph)    float64
Wind Run (miles)        float64
Avg Soil Temp (F)       float64
dtype: object

In [66]:
electricity_df2.dtypes

County     object
Year        int64
MWh       float64
dtype: object

# ---------------------------------------------------------------------

# Export Housing CSV, Electricity CSV, and Fire CSV
## Once Environment Data has all counties ** Except ** Imperial and San Francisco, then we can merge ALL Datasets and export as CSV

In [68]:
# # Export all the CSVs
# housing_df2.to_csv("housing_ml_model.csv")
# electricity_df2.to_csv("../Machine_Learning_Model_Ready_Datasets/electricity_ml_model.csv")
# fire_df.to_csv("fire_ml_model.csv")